* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.w-1\/3 {
    width: 33.33333%;
}
.w-2\/3 {
    width: 66.66666%;
}